/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------------------------------------------*/
:root {
  --navBgColor: rgba(170, 170, 170, 0.5);
  --boxShadow: rgba(25,25,25,0.3);
  --linkWhite: rgb(240,240,240);
  --fontWhite: rgb(240,240,240);
  --fontBlack: rgb(30,30,30);
  --linkHoverColor: rgb(160, 118, 0);
  --bgBlack: rgb(25,25,25);
  --bgWithe: rgb(230,230,230);
}
body {
  background-color: var(--bgBlack);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  animation: slide 10s infinite;
}
h1{
  font-size: 1.5rem;
  color: var(--fontWhite);
}
nav {
  background-color: var(--navBgColor);
  backdrop-filter: blur(20px);
}

a {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--linkWhite);
  text-decoration: none;
  margin-left: 1.2rem;
  padding: 1.2rem 0;
  transition: color 0.2s;
}
a:hover {
  color: var(--linkHoverColor);
}
button {
  cursor: pointer;
}
p {
  color: var(--fontWhite);
}
/*---------------------------------------------------------------------------------------*/

.home {
  height: calc(100vh - 62px);
  background-image: url('./assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 2rem;
  padding: 1rem;
}
.card{
  box-sizing: border-box;
  color: var(--fontWhite);
  background-color: var(--bgBlack);
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid var(--fontWhite);
  padding: 1.2rem;
  min-height: 120px;
}
.card img {
  width: 100%;
  height: auto;
  margin-top: 0.8rem;
}
.card button {
  border: 1px solid var(--fontWhite);
  background: transparent;
  color: var(--fontWhite);
  font-size: 1.3rem;
  transition: color 0.2s, border 0.2s;
  margin: 0.5rem 0;
}
.card button:hover {
  color: var(--linkHoverColor);
  border: 1px solid var(--linkHoverColor);
}
/*---------------------------------------------------------------------------------------*/

.quantity-container span {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.3rem;
}
.quantity-container button {
  padding: 0 0.5rem;
}

/*---------------------------------------------------------------------------------------*/
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 0;
  background-color: var(--bgWithe);
}
.empty-cart p {
  color: var(--fontBlack);
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1.2rem;
}
.empty-cart img {
  width: 9rem;
}